html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
}

/* layout */
.container {
  padding: 2em;
  margin: 0 auto;
}

.header {
  padding-inline: 2em;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.hero {
  position: relative;
  overflow: hidden;
}

.hero .logo {
  position: relative;
  margin: 2.5em auto 0;
  transition: all 0.5s ease-in-out;
  z-index: 2000;
}

.hero .logo:hover {
  transform: rotateY(180deg) scale(1.5);
}

.menu-btn {
  display: block;
  z-index: 2000;
  background: transparent;
  background-image: url(./assets/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
  cursor: pointer;
}

.navigation {
  display: none;
}

.main .article {
  text-align: left;
  color: #464547;
}
.learn-more {
  background-image: url(/assets/bg-img-2.jpg);
}
.hero,
.learn-more {
  text-align: center;
  background-repeat: no-repeat;
  color: #fff;
}

.bg-img {
  position: absolute;
  height: 821px;
  width: 1249px;
  bottom: -220px;
  right: 0;
  z-index: -3;
}

.big-circles {
  position: absolute;
  bottom: -220px;
  right: 0;
  opacity: 0;

  animation: glow 1.5s linear infinite alternate;
}

.little-circles {
  position: absolute;
  bottom: -225px;
  right: 0;

  animation: move 1.5s linear 1s infinite alternate;
}

.wrapper {
  margin-bottom: 2em;
}

.footer {
  background-color: #464547;
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer-logo img {
  height: 20px;
  width: 20px;
}

.btn {
  background-color: #55c2d8;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  border-radius: 18px;
  padding: 0.3em 1.125em;
  border: none;
  cursor: pointer;
}

/* .btn:active {
  transform: scale(0.98);
} */
.play-button {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 3.3em 0 4.35em;
  cursor: pointer;
}

.play-button:hover .ellips ellipse {
  transform: scale(0.9);
  fill: #fff;
}

.ellips ellipse {
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}

.polygon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.polygon path {
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}

.play-button:hover .polygon path {
  transform: scale(0.9);
  fill: #39c2d7;
}

.join-us {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 4em;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(./assets/bg-img-3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1em;
}

input {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  width: 100%;
  border: none;
  padding: 5px 10px;
  color: #fff;
  padding: 17px 20px;
  font-size: 14px;
  font-family: inherit;
}

input::placeholder {
  color: #fff;
  font-size: 14px;
  font-family: inherit;
}

/* typography */
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 0;
}

.subheading {
  font-size: 1rem;
  font-weight: 400;
}

.hero .subheading {
  color: rgba(255, 255, 255, 0.7);
}

h4 a {
  font-size: 1.25rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
}

a {
  text-decoration: none;
}
.footer-logo p {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
}
.footer a {
  color: rgba(255, 255, 255, 0.4);
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
  .hero .logo {
    margin-top: 8em;
  }
  /* navigation */
  .navigation {
    padding: 3em 17em;
    display: block;
  }
  ul {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  ul {
    gap: 2em;
  }
  ul li {
    list-style: none;
  }
  ul li:hover {
    border-bottom: 2px solid #fff;
  }
  ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875rem;
    letter-spacing: 0.2em;
  }

  .article {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    display: flex;
    width: 80%;
    text-align: left;
    justify-content: space-between;
  }
  .wrapper p {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  .header {
    justify-content: space-evenly;
    left: 8em;
  }
  .hero .logo {
    margin-top: 6em;
  }

  .hero,
  .learn-more {
    background-size: cover;
    background-position: center;
  }

  .bg-img {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .big-circles {
    top: 0;
    right: 0;
    opacity: 0;
    width: 100vw;
    height: 100vh;
  }

  .little-circles {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
  }

  form {
    flex-direction: row;
    width: 60%;
  }
  .subheading {
    font-size: 1.5rem;
  }
  /* footer */
  .footer {
    background-color: #464547;
    text-align: left;
    padding: 1.25em 9em;
    color: rgba(255, 255, 255, 0.4);
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer-logo {
    align-self: flex-start;
  }
}

@keyframes glow {
  to {
    opacity: 1;
  }
}

@keyframes move {
  to {
    transform: translate(-20px, -10px);
  }
}
